* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

/* Background dégradé */
body {
    height: 100vh;
    background: linear-gradient(135deg, #141e30, #243b55);
}

/* Centrage */
.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Carte principale */
.login-card {
    width: 380px;
    padding: 40px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.4);
    text-align: center;
    color: white;
}

/* Titres */
.login-card h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

.login-card p {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 30px;
}

/* Champs */
.input-group {
    position: relative;
    margin-bottom: 30px;
}

.input-group input {
    width: 100%;
    padding: 12px 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(255,255,255,0.4);
    outline: none;
    color: white;
    font-size: 16px;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    color: rgba(255,255,255,0.7);
    font-size: 14px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.3s;
}

/* Animation label */
.input-group input:focus + label,
.input-group input:valid + label {
    top: -8px;
    font-size: 12px;
    color: #00c6ff;
}

/* Bouton */
button {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
